#gallery {
    .list-photos {
    display: flex;
    flex-wrap: wrap;

    .photo {
        
        width: 20%;
        box-sizing: border-box;
        padding: 8px;
        
        .wrap {
             
            background: grey;
            min-height: 300px;
             padding: 5px;
             box-shadow: 0 0  #000;
        }
        img {
            max-width: 100%;
        }
        h4 {
            margin:0;
            background: #ccc;
            padding: 8px;
        }
    }
}
}